<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://use.fontawesome.com/9ab541b969.js"></script>    

  </head>
  <body>
    <section class="hero is-primary is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-7-tablet is-6-desktop is-4-widescreen">
              <form action="" class="box ">
                  <span class="icon-text is-centered is-large has-text-centered">
                    <span class="fas fa-2x">
                      <i class="fa fa-cloud"></i>
                    </span>
                    <span class="title has-text-black has-text-weight-normal">My Cloud</span>
                  </span>

                
                <div class="field">
                  <label for="" class="label">Username</label>
                  <div class="control has-icons-left">
                    <input type="email" placeholder="e.g. Notorious B.I.G." class="input" required>
                    <span class="icon is-small is-left">
                      <i class="fa fa-user"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label for="" class="label">Password</label>
                  <div class="control has-icons-left">
                    <input type="password" placeholder="*******" class="input" required>
                    <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                    </span>
                  </div>
                </div>
                <div class="field mt-5">
                  <label for="" class="checkbox">
                    <input type="checkbox">
                   Remember me
                  </label>
                </div>
                <div class="field">
                  <button class="button is-block is-fullwidth is-primary is-medium">
                    Login
                  </button>
                </div>
                <nav class="level">
                  <div class="level-item has-text-centered">
                    <div>
                      <a href="#">Forgot Password?</a>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <a href="#">Create an Account</a>
                    </div>
                  </div>
                </nav>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>