<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

</head>
<body>
    <div class="columns is-6-desktop">
        <div class="column">
            <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
                <h1 class="pl-5">
                    <span class="icon-text is-large">
                        <span class="icon">
                            <i class="fa fa-cloud"></i>
                        </span>
                        <span>My Cloud</span>
                    </span>
                </h1>
                <div id="navbar" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <span>
                                <div class="dropdown is-active">
                                    <div class="dropdown-trigger">
                                        <figure class="image" aria-controls="dropdown-menu">
                                            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                                        </figure>
                                    </div>
                                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                        <div class="dropdown-content">
                                            <p class="has-text-grey-light ml-3">Ricardo Falcão</p>
                                            <a href="#" class="dropdown-item">
                                                <span class="icon-text">
                                                    <span class="icon">
                                                        <i class="fas fa-gear"></i>
                                                    </span>
                                                    <span>Painel de controlo</span>
                                                </span>
                                            </a>
                                            <a href="#" class="dropdown-item">
                                                <span class="icon-text">
                                                    <span class="icon">
                                                        <i class="fa-solid fa-right-from-bracket"></i>
                                                    </span>
                                                    <span>Sair</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        
            <div class="columns">
                <aside class="column is-2 menu is-fullheight">
                    <ul class="menu-list">
                        <p class="menu-label ml-2 mt-2">
                            Utilizador
                        </p>
                        <li>
                            <a href="#" class="is-flex is-align-items-center">
                                <span class="icon mr-2">
                                    <i class="fas fa-user"></i>
                                </span>
                                <span class="name">Perfil</span>
                            </a> 
                        </li>


                        <li>
                            <a href="#" class="has-background-grey-lighter is-flex is-align-items-center">
                                <span class="icon mr-2">
                                    <i class="fas fa-chart-pie"></i>
                                </span>
                                <span class="name">Estatísticas</span>
                            </a> 
                        </li>
                    </ul>

                        <p class="menu-label ml-2 mt-2">
                            Administrador
                        </p>
                    <ul class="menu-list">
                        <li>
                            <a href="#" class=" is-flex is-align-items-center">
                                <span class="icon mr-2">
                                    <i class="fas fa-users"></i>
                                </span>
                                <span class="name">Utilizadores</span>
                            </a> 
                        </li>
                        <li>
                            <a href="#" class=" is-flex is-align-items-center">
                                <span class="icon mr-2">
                                    <i class="fas fa-chart-pie"></i>
                                </span>
                            <span class="name">Estatísticas</span>
                            </a> 
                        </li>
                    </ul>
                </aside>

                <div class="column is-one-fifth ml-4 mt-4">
                    <h1 class="is-size-4">Utilização de espaço</h1>
                </div>   
            </div>  
        </div>                 
    </div>        
</body>
</html>