<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>files</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://use.fontawesome.com/9ab541b969.js"></script>

</head>

<body>
    <div class="columns is-6-desktop">
        <div class="column">
            <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
                <h1 class="pl-5">
                    <span class="icon-text is-large">
                        <span class="icon">
                            <i class="fa fa-cloud"></i>
                        </span>
                        <span>My Cloud</span>
                    </span>
                </h1>
                <div id="navbar" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                <a class="button is-primary">
                                    <strong>Sign up</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>


            <div class="columns is-one-quarter">
                <table class="table">
                    <tr>
                        <td>
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fas fa-folder"></i>
                                </span>
                                <span>Ficheiros</span>
                                <span></span>
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fas fa-share"></i>
                                </span>
                                <span>Partilhados</span>

                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fas fa-star"></i>
                                </span>
                                <span>Favoritos</span>

                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


</body>