<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>

    <link rel="stylesheet" href="../../../../public/assets/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
        integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
    <div class="columns is-6-desktop is-fullheight">
        <div class="column">
            <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="https://bulma.io">
                        <span class="icon mr-2">
                            <i class="fa fa-cloud"></i>
                        </span>

                        <span>My Cloud</span>
                    </a>

                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                        data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id="navbar" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="field">
                                <p class="control has-icons-left">
                                    <input class="input is-rounded" type="text" placeholder="Search">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="navbar-item has-dropdown is-hoverable">
                            <div class="navbar-link">
                                User
                            </div>

                            <div id="moreDropdown" class="navbar-dropdown is-right">
                                <a class="navbar-item " href="http://bulma.io/extensions/">
                                    <div class="level is-mobile">
                                        <div class="level-left">
                                            <div class="level-item">
                                                <p>
                                                    <strong>Extensions</strong>
                                                    <br>
                                                    <small>Side projects to enhance Bulma</small>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="level-right">
                                            <div class="level-item">
                                                <span class="icon has-text-info">
                                                    <i class="fa fa-plug"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="columns is-gapless">
                <aside class="column is-2 menu is-fullheight left-border">
                    <ul class="menu-list">
                        <p class="menu-label ml-4 mt-4" style="font-size: 15px;">
                            Utilizador
                        </p>
                        <li>
                            <a href="#" class="is-flex is-align-items-center py-4 px-4">
                                <span class="icon mr-2">
                                    <i class="fas fa-user is-size-5"></i>
                                </span>
                                <span class="name is-size-5">Perfil</span>
                            </a>
                        </li>


                        <li>
                            <a href="#" class="is-flex is-align-items-center py-4 px-4">
                                <span class="icon mr-2">
                                    <i class="fas fa-chart-pie is-size-5"></i>
                                </span>
                                <span class="name is-size-5">Estatísticas</span>
                            </a>
                        </li>
                    </ul>
                    <p class="menu-label ml-4 mt-4" style="font-size: 15px;">
                        Administrador
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href="#" class=" is-flex is-align-items-center py-4 px-4">
                                <span class="icon mr-2">
                                    <i class="fas fa-users is-size-5"></i>
                                </span>
                                <span class="name is-size-5">Utilizadores</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="has-background-grey-lighter is-flex is-align-items-center py-4 px-4">
                                <span class="icon mr-2">
                                    <i class="fas fa-chart-pie is-size-5"></i>
                                </span>
                                <span class="name is-size-5">Estatísticas</span>
                            </a>
                        </li>
                    </ul>
                </aside>

                <div class="column is-two-thirds ml-4 mt-4">
                    <h1 class="is-size-4 has-text-weight-bold mb-5">Utilização de espaço total</h1>

                    <canvas id="Chart_disk" width="300" height="300"></canvas>
                    <script>
                        var ctx = document.getElementById("Chart_disk");
                        var myChart = new Chart(ctx, {
                            type: 'doughnut',
                            data: {
                                labels: ['Utilização de espaço', 'Livre'],
                                datasets: [{
                                    label: '# of Tomatoes',
                                    data: [36, (100 - 36)],
                                    backgroundColor: [
                                        'rgba(0, 150, 136, 1)',
                                        'rgba(255, 255, 255, 1)'
                                    ],
                                    borderColor: [
                                        'rgba(0,0,0,1)',
                                        'rgba(0, 0, 0, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                //cutoutPercentage: 40,
                                responsive: false,

                            },
                        });
                    </script>
                    <h1 class="is-size-4 has-text-weight-bold my-5">Sistema</h1>
                    <div class="columns is-four-fifths">
                        <div class="column">
                            <h1 class="has-text-weight-bold">CPU</h1>

                            <canvas id="Chart_cpu" width="300" height="300"></canvas>
                            <script>
                                var ctx = document.getElementById("Chart_cpu");
                                var myChart = new Chart(ctx, {
                                    type: 'doughnut',
                                    data: {
                                        labels: ['Utilização de CPU %',],
                                        datasets: [{
                                            label: '# of Tomatoes',
                                            data: [24, (100 - 24)],
                                            backgroundColor: [
                                                'rgba(0, 150, 136, 1)',
                                                'rgba(255, 255, 255, 1)'
                                            ],
                                            borderColor: [
                                                'rgba(0,0,0,1)',
                                                'rgba(0, 0, 0, 1)'
                                            ],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        //cutoutPercentage: 40,
                                        responsive: false,

                                    },
                                });
                            </script>
                        </div>
                        <div class="column">
                            <h1 class="has-text-weight-bold">Memória</h1>

                            <canvas id="Chart_mem" width="300" height="300"></canvas>
                            <script>
                                var ctx = document.getElementById("Chart_mem");
                                var myChart = new Chart(ctx, {
                                    type: 'doughnut',
                                    data: {
                                        labels: ['Utilização de RAM', ],
                                        datasets: [{
                                            label: '# of Tomatoes',
                                            data: [43, (100 - 43)],
                                            backgroundColor: [
                                                'rgba(0, 150, 136, 1)',
                                                'rgba(255, 255, 255, 1)'
                                            ],
                                            borderColor: [
                                                'rgba(0,0,0,1)',
                                                'rgba(0, 0, 0, 1)'
                                            ],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        //cutoutPercentage: 40,
                                        responsive: false,

                                    },
                                });
                            </script>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>