@charset "utf-8";

$primary: #009688;
$info: #b2dfdb;

$table-cell-padding: 1em 1.5em;
$menu-list-link-padding: 0.875em 1.25em;

@import "../bulma/bulma.sass";

.left-border {
  border-right: 1px solid $border;
}

